* {
  font-family: courier;
}
header {
  background-color: blue;
}
.column-1 {
  background-color:red;
  float: left;
  width: 50%;
  
  }
 .column-2 {
   background-color: green;
   float: right;
   width: 50%;
   }
  footer {
    clear: both;
    background-color: yellow; 
  } 
 