.center{
	position: fixed;
	margin: auto;
	width: 70%;
	border: none;
	padding: 100px;
	z-index: -1;
	display: 100%;

}
div.absolute-glasses{
	position: absolute;
	top: 350px;
	right: 200px;
	width: 75%;
	height: 90px;
}
div.absolute-hat{
	position: absolute;
	top: 0px;
	right: 200px;
	width: 200px;
	height: 90px;
}