<!DOCTYPE html>
<html>
<head>
	<title>Favorite Programming Language</title>
</head>
<body>
	<form action="/students" method="POST">
	<input type="text" name="name" placeholder="Name">
	<input type="text" name="language" placeholder="Language">
	<button type="submit">Save</button>
	</form>
</body>
</html>
